#alert {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 3;
    max-width: 900px;
    background-color: #272b3b;
    color: white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: .5em 1em;
    visibility: hidden;
    transition: .1s;
}