#editable {
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #31364c;
    width: 100%;
    box-shadow: #31364c35 0px -5px 15px;
}
#editable form {
    margin: 0 auto;
}
#editable .tanggal {
    flex-direction: column;
    gap: 0;
}
#editable input {
    background-color: #2b2f42;
    max-width: calc(100vw - .5em);
    color: #eee;
    padding: .25em;
}
#editable input[type="color"] {
    padding: 0;
}


@media screen and (min-width: 1024px) {
    #editable form {
        max-width: 1024px;
    }
}