nav {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: .5em;
    width: 100vw;
}
nav div {
    max-width: 1024px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
nav a, nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    background-color: #A27B5C;
    padding: .5em;
    margin: .25em;
    border-radius: 5px;
    color: #EEE;
    transition: .1s;
    padding: .5em 1.3em;
    flex-basis: 20%;
    cursor: pointer;
    box-shadow: rgb(71 75 255 / 10%) 0px 2px 4px;
}
nav a:nth-child(1) {
    background-color: #0D7377;
    box-shadow: #0D737776 0px 8px 24px;
}
nav button {
    border: none;
    flex-basis: 50%;
}
nav a:nth-child(2) {
    background-color: #c4900f;
    box-shadow: #c4900f76 0px 8px 24px;
}
nav a:active {
    opacity: 0;
}
nav a img, nav button img {
    width: 1em;
}

#filterTugas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8897a11f;
    padding: .5em 1em;
    border-radius: 5px;
    font-size: small;
}
.filter-btn {
    padding: .1em .2em;
    border-radius: 5px;
    color: #2b2f42;
    cursor: pointer;
    transition: .1s;
}
.disable {
    text-decoration: line-through;
    background-color: #8897a11f !important;
    box-shadow: none !important;
}
.filter-btn:first-child {
    background-color: #bf822645;
    box-shadow: #bf822676 0px 8px 10px;
}
.filter-btn:nth-child(2) {
    background-color: #bf302645;
    box-shadow: #bf302676 0px 8px 10px;

}
.filter-btn:nth-child(3){
    background-color: #3dbf2645;
    box-shadow: #3dbf2676 0px 8px 10px;
}