#loginForm {
    overflow: visible;
}
#loginForm input {
    background-color: #292b38;
    border: none;
    color: #f0f1f3;
}
#loginForm input[type="submit"] {
    background-color: #277BC0;
    color: #f0f1f3;
    box-shadow: #277bc076 0px 8px 24px;
    transition: .3s;
    cursor: pointer;
}
#loginForm input[type="submit"]:active {
    opacity: 0;
}
.log {
    color: #f0f1f3;
    box-shadow: none;
}
.log p {
    margin-top: 1em;
    font-size: small;
}
.log a {
    color: goldenrod;
}
.detail-profile {
    color: #f0f1f3;
    box-shadow: none;
    background-color: #20202c;
}
.detail-profile p {
    color: #57596b;
    font-size: small;
    font-weight: 300;
}
.detail-profile input {
    color: #f0f1f3;
    background-color: #292b38;
    border: none;
    padding: .25em .5em;
    border-radius: 3px;
}
.detail-profile .logout-btn {
    margin-top: 1em;
    color: crimson;
    cursor: pointer;
}