#shadow {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1f292f78;
    display: none;
    z-index: 1;
}
#more-option {
    background-color: #31364c;
    color: #eeeeee;
    width: 100%;
}
.option {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5em;
    gap: .5em;
    font-size: 1.1em;
}
.option-icon {
    width: 1.2em;
}
.option-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
}
#card-shadow {
    width: 100%;
    background-color: #2b2f42;
    max-height: calc(100vh - 20%);
    color: #f0f1f3;
    border-radius: 5px 5px 0 0;
    padding: .5em;
    padding-top: 0;
    overflow: auto;
}
.shadow-title {
    overflow: auto;
    font-size: larger;
}
.shadow-attribute {
    color: #eaeaea;
    font-size: x-small;
    opacity: .8;
    font-weight: 300;
    padding: .1em;
}
#card-shadow pre {
    overflow: auto;
    padding: .25em;
    background-color: #31364c;
    border-radius: 0 0 5px 5px;
    font-size: calc(1vw + .7em);
}
#card-shadow a {
    color: goldenrod;
}
.shadow-footer {
    display: flex;
    justify-content: space-between;
    margin-top: .25em;
}


@media screen and (min-width: 1024px) {
    #more-option, #card-shadow {
        max-width: 1024px;
    }
}