#formTwit {
    width: 100%;
    background-color: #2b2f42;
    border-left: 1em solid #383e57;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
}
#formTwit .form-header {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: .25em;
    padding: .25em;
    color: #eee;
    background-color: #31364c;
    cursor: pointer;
}
#formTwit .form-header .twitForm-title {
    color: #71767b;
    font-size: medium;
}
#formTwit .twitForm-title {
    color: goldenrod !important;
    text-decoration: underline;
}
#formTwit textarea, #formTwit input {
    background-color: #34384d;
    border: none;
    border-radius: 3px;
    color: #eee;
    width: 99% !important;
    box-shadow: none;
    align-self: center;
    padding: .4em;
    margin: 4px;
}
#formTwit textarea {
    font-size: medium;
    margin-bottom: 0;
    border: 1px solid #71767b;
}
#formTwit .deskripsi-container {
    padding: .25em;
    padding-bottom: 0;
}
#formTwit .tagAndSubmit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25em;
    padding-top: 0;
}
#formTwit input {
    color: #1d9bf0;
    font-size: small;
    height: 3em;
    border: 1px solid #1d9bf0;
}
#formTwit button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d9bf0;
    border: none;
    padding: .5em 1.3em;
    margin: auto .25em;
    border-radius: 3px;
    width: 5em;
    align-self: flex-end;
    cursor: pointer;
}
#formTwit button img {
    width: 1.5em;
}

.twit {
    position:relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: .5em 0;
    border-left: 1em solid #343a50;
    border-radius: 5px;
    overflow: hidden;
    font-size: large;
    font-weight: 300;
    background-color: #272a3b;
    color: #eee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.twit-header {
    background-color: #303449;
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: .25em;
    padding: .25em;
    padding-bottom: 0;
}

.twit-title, .twit-time {
    color: #71767b;
    font-size: medium;
}
.twit-time {
    align-self: flex-end;
    font-size: small;
}
.twit-isi {
    font-size: medium;
}
.twit-body {
    display: flex;
    flex-direction: column;
    padding: .5em;
    padding-top: 0;
}
.twit-body > * {
    overflow: auto;
}
.twit-tag {
    color: rgb(29 155 240);
    font-size: small;
}
@media screen and (min-width: 1024px) {
    #formTwit {
        max-width: 1024px;
    }
}
@media screen and (max-width: 370px) {
    .twit-header, .twit-time, .twit-title {
        font-size: small;
    }
    .twit-isi {
        font-size: smaller;
    }
    .twit-time, .twit-tag {
        font-size:x-small;
    }
}