#formTwit {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #272a3b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
}
#formTwit .img-container {
    background-color: #272a3b;
    padding-top: .35em;
    padding-left: .35em;
}
#formTwit .form-container {
    width: 100%;
}
#formTwit .pp-form {
    width: 2.5em;
    border-radius: 50px;
}
#formTwit .form-header {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: .25em;
    padding: .25em;
    color: #eee;
    background-color: #272a3b;
    cursor: pointer;
}
#formTwit .form-header .twitForm-title {
    color: #71767b;
    font-size: medium;
}
#formTwit .twitForm-title {
    color: goldenrod !important;
    text-decoration: underline;
}
#formTwit textarea, #formTwit input {
    background-color: #1f222f;
    border: none;
    border-radius: 3px;
    color: #eee;
    width: 99% !important;
    box-shadow: none;
    align-self: center;
    padding: .4em;
    margin: 4px;
}
#formTwit textarea {
    font-size: medium;
    margin-bottom: 0;
    border: 1px solid #71767b;
}
#formTwit .deskripsi-container {
    padding: .25em;
    padding-bottom: 0;
}
#formTwit .tagAndSubmit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25em;
    padding-top: 0;
}
#formTwit input {
    color: #1d9bf0;
    font-size: small;
    height: 3em;
    border: 1px solid #1d9bf0;
}
#formTwit #twitSubmit {
    height: 100%;
}
#formTwit button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d9bf0;
    border: none;
    padding: .7em 1.7em;
    margin: auto 0;
    border-radius: 3px;
    width: 5em;
    height: 100%;
    align-self: flex-end;
    cursor: pointer;
}
#formTwit button img {
    width: 1.5em;
}

/* twit card */
.twit {
    position:relative;
    display: flex;
    margin: .5em 0;
    border-radius: 5px;
    overflow: hidden;
    font-size: large;
    font-weight: 300;
    background-color: #272a3b;
    color: #eee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.user-img {
    padding-top: .25em;
    padding-left: .25em;
    width: 2em;
    border-radius: 50px;
    box-shadow: none !important;
}
.twit-container {
    width: 100%;
}

.twit-header {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: .25em;
    padding: .25em;
    padding-left: .5em;
    padding-bottom: 0;
}

.twit-title, .twit-time {
    color: #71767b;
}
.twit-time {
    font-size: small;
    margin-top: -3px;
}
.twit-isi {
    font-size: medium;
}
.twit-body {
    display: flex;
    flex-direction: column;
    padding: .5em;
    padding-top: 0;
}
.twit-body > * {
    overflow: auto;
}
.twit-tag {
    color: rgb(29 155 240);
    font-size: small;
}
.twit-menu {
    display: flex;
    align-items: center;
    padding: .25em;
    gap: 1em;
}
.twit a {
    color: goldenrod;
}
.twit-menu img {
    width: 1em;
    opacity: .5;
    cursor: pointer;
}
@media screen and (min-width: 1024px) {
    #formTwit {
        max-width: 1024px;
    }
}
@media screen and (max-width: 370px) {
    .twit-header, .twit-time, .twit-title {
        font-size: small;
    }
    .twit-isi {
        font-size: small;
    }
    .twit-time, .twit-tag {
        font-size:x-small;
    }
}