@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    transition: .3s;
}
section div {
    background-color: #fff;
}
nav {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c36398a;
    padding: .5em;
    width: 100vw;
}
nav div {
    max-width: 1024px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
nav a, nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    background-color: #A27B5C;
    padding: .5em;
    border-radius: 5px;
    color: #EEE;
    transition: .1s;
    padding: .5em 1.3em;
    flex-basis: 20%;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
nav a:nth-child(1) {
    background-color: #0D7377;
}
nav button {
    border: none;
    flex-basis: 50%;
}
nav a:nth-child(2) {
    background-color: #c4900f;
}
nav a:active {
    opacity: 0;
}
nav a img, nav button img {
    width: 1em;
}
header {
    padding: .5em 1em;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(49%2c 54%2c 76%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c702.796C129.986%2c688.784%2c177.612%2c518.166%2c288.605%2c449.078C402.144%2c378.405%2c578.874%2c409.876%2c651.258%2c297.42C722.931%2c186.07%2c689.969%2c29.655%2c636.574%2c-91.526C588.515%2c-200.598%2c453.335%2c-235.118%2c376.473%2c-326.215C298.05%2c-419.162%2c295.658%2c-578.768%2c184.277%2c-627.59C73.473%2c-676.159%2c-51.877%2c-605.221%2c-165.547%2c-563.802C-272.822%2c-524.713%2c-379.624%2c-480.012%2c-455.319%2c-394.536C-531.48%2c-308.533%2c-563.926%2c-196.732%2c-589.742%2c-84.792C-617.592%2c35.966%2c-659.555%2c165.004%2c-610.622%2c278.862C-561.433%2c393.316%2c-433.901%2c444.886%2c-331.569%2c515.931C-225.202%2c589.778%2c-128.743%2c716.674%2c0%2c702.796' fill='%232f3348'%3e%3c/path%3e%3cpath d='M1440 842.4680000000001C1504.195 847.047 1569.093 877.781 1628.8220000000001 853.813 1692.204 828.379 1750.63 776.067 1769.23 710.354 1787.438 646.024 1744.173 582.823 1723.521 519.236 1706.464 466.719 1685.044 418.985 1658.816 370.395 1625.039 307.818 1610.701 226.26999999999998 1547.643 193.39999999999998 1483.359 159.89100000000002 1396.566 163.63400000000001 1334.722 201.457 1274.641 238.202 1274.347 324.278 1236.519 383.683 1205.965 431.66499999999996 1142.545 459.764 1134.3890000000001 516.06 1126.232 572.363 1172.3899999999999 619.69 1194.748 672.003 1217.783 725.899 1219.604 794.602 1267.732 828.054 1316.027 861.6220000000001 1381.334 838.283 1440 842.4680000000001' fill='%23343950'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
header a {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    color: #EEE;
    text-decoration: none;
}
header h2 , header h3{
    position: absolute;
    opacity: 0.2;
}
header h2 {
    font-size: 3em;
    bottom: -.25em;
    left: -.25em;
}
header h3 {
    font-size: 2.5em;
    top: -.25em;
    right: -.25em;
}
#quote, #author {
    color: #EEE;
}
#author {
    background-color: #c4900f;
    width: fit-content;
    padding: 0 .5em;
    border-radius: 5px;
    cursor: pointer;
}
.quotes {
    background-color: #2C3639;
    border-radius: 5px;
    max-width: calc(100vw - .5em);
    box-shadow: none !important;
}
.container, form {
    display: flex;
    flex-direction: column;
    padding: .5em;
}
.container {
    max-width: calc(100vw - .5em);
    margin: .5em auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}
.subjudul {
    font-size: 1.3em;
    font-weight: 400;
    color: #2C3639;
    width: fit-content;
}
#minimize {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.form img {
    width: 1em;
    fill: #2C3639;
    transition: .3s;
}
form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
}

.form-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color: #2C3639;
}
form .subjudul {
    border-bottom: 1px solid #A27B5C;
}
form input {
    box-shadow: #a27b5c5d 0px 25px 20px -20px;
    padding: .5em;
    font-size: 1em;
    margin: .25em;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #A27B5C;
    background-color: #eaeaea;
    outline: none;
}
#color {
    padding: 0;
}
input[type="text"], input[type="date"] {
    font-size: 1.2em;
}
.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    cursor: pointer;
    background-color: #A27B5C;
    color: #EEE;
    transition: .1s;
    border: none;
    border-radius: 5px;
    box-shadow: #a27b5c5d 0px 25px 20px -20px;
}
.btn-submit img {
    width: 2.5em;
    padding: .5em;
}
.btn-submit:active {
    background-color: #dbd2ba;
    border-color: #dbd2ba;
    color: #A27B5C;
}
.tanggal {
    display: flex;
    gap: 1em;
}
.tanggal div:nth-child(1) {
    align-self: flex-end;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em;
    padding: .5em;
    border: 1px solid #A27B5C;
    border-left-width: .5em;
    padding-right: 0;
    overflow: auto;
    gap: .5em;
    border-radius: 10px;
    font-size: large;
    font-weight: 400;
}
.card-btn {
    display: flex;
    align-content: center;
    justify-content: center;
}
.card-btn img {
    margin-right: .5em;
    cursor: pointer;
    width: 3.2em;
    padding: .25em .5em;
    border-radius: 5px;
    transition: .1s;
    padding: .25em 1em;
}
.centang:active, .ulangi:active, .buang:active {
    opacity: 0;
}
.centang {
    background-color: #0D7377;
}
.ulangi {
    background-color: #A27B5C;
}
.buang {
    border: .1em solid #774360;
}
.belum .subjudul {
    border-bottom: .1em solid #0D7377;
}
.sudah {
    border-radius: 5px;
    margin-bottom: 0;
}
.sudah .subjudul {
    border-bottom: .1em solid #774360;
}

#belum .card {
    border-color: #0D7377;
}
#sudah .card {
    border-color: #774360 !important;
    background-color: #7743601e;
}
#sudah .card .card-text {
    background-color: transparent;
}
#sudah .card p:first-child {
    text-decoration: line-through;
}
#sudah .card-btn {
    background-color: transparent;
}
#copyBtn {
    display: inline;
    width: 1.5em;
    padding: .2em;
    border-radius: 5px;
    border: 1px solid #2C3639;
    position: absolute;
    margin-left: .1em;
    cursor: pointer;
}

footer {
    padding-top: 6em;
    text-align: center;
    padding-bottom: 1em;
    color: #a59a7d;
}
footer a {
    color: #a59a7d;
}


#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    background-color: goldenrod;
}
#loader p {
    font-size: 2em;
    font-weight: bold;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media screen and (max-width: 490px) {
    #dateInput {
        display: flex;
        flex-direction: row;
    }
    input[type="date"] {
        width: 100%;
    }
}

@media screen and (max-width: 465px) {
    .text-time {
        font-size: calc(1vw + .3em);
    }
    .card .card-btn span {
        font-size: .8em;
    }
}
@media screen and (max-width: 490px) {
    .tanggal {
        flex-direction: column;
    }
    .tanggal > * {
        width: 100%;
    }
}

.today {
    display: flex;
    align-items: center;
    gap: .5em;
    color: #EEE;
}
#dateNow {
    font-size: 4em;
}
#day {
    font-size: 2em;
}
#month {
    font-size: 1em;
}
.proggressBar {
    width: 100%;
    background-color: #eaeaea;
    height: 1em;
    border-radius: 5px;
}
#valueBar {
    width: 30%;
    height: 1em;
    border-radius: 5px;
    background-color: #0D7377;
    transition: .3s;
}