@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    transition: .3s;
    background-color: #f7f5fd;
}

/* quote */
.quotes {
    border-radius: 5px !important;
    max-width: calc(100vw - .5em);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#author {
    color: #c4900f;
    width: fit-content;
    cursor: pointer;
    text-decoration: underline;
}

/* container */
.container, form {
    display: flex;
    flex-direction: column;
    padding: .5em;
}
.container {
    max-width: calc(100vw - .5em);
    margin: .5em auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}
.subjudul {
    font-size: 1.3em;
    font-weight: 400;
    color: #2C3639;
    width: fit-content;
}
/* container belum/sudah */
.belum, #belum, #sudah {
    background-color: transparent;
    box-shadow: none;
}
#belum .card {
    border-color: #0D7377;
}
#sudah .card {
    background-color: #7743601e;
    color: inherit;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#sudah .card .card-text {
    background-color: transparent;
}
#sudah .card p:first-child {
    text-decoration: line-through;
}
#sudah .card-btn {
    background-color: transparent;
}

/* copy button */
#copyBtn {
    width: 1.5em;
    padding: .2em;
    border-radius: 5px;
    border: 1px solid #2C3639;
    margin-left: .1em;
    cursor: pointer;
    align-self: flex-end;
}

footer {
    padding-top: 6em;
    text-align: center;
    padding-bottom: 1em;
    color: #a59a7d;
}
footer a {
    color: #a59a7d;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media screen and (max-width: 490px) {
    #dateInput {
        display: flex;
        flex-direction: row;
    }
    input[type="date"] {
        width: 100%;
    }
}

@media screen and (max-width: 465px) {
    .text-time {
        font-size: calc(1vw + .3em);
    }
    .card .card-btn span {
        font-size: .8em;
    }
}
@media screen and (max-width: 490px) {
    .tanggal {
        flex-direction: column;
    }
    .tanggal > * {
        width: 100%;
    }
}

/* proggress bar */
.proggressBar {
    width: 100%;
    background-color: #eaeaea;
    height: 1em;
    border-radius: 5px;
}
#valueBar {
    width: 30%;
    height: 1em;
    border-radius: 5px;
    background-color: #0D7377;
    transition: .3s;
}